.footer {
    width: 100vw;
    height: 10vh;
    margin: 0 auto;

    &__container{
        height: 100%;
        width: 100%;
        @include flex-center;

        & p{
            font-size: clamp(0.9rem, 2.5vw,1.2rem);
            width: 70%;
            text-align: center;

        }
    }
}
