.main {
    width: 100vw;
    height: 90vh;
    padding: 0 2rem;
    @include flex-center;

    &__container {
        height: 100%;
        width: 100%;
        @include flex-space-evenly;

        & .logo__container{
           width: 40%;
           height: 70%;
           flex-grow: 0.7;
           @include flex-center;

            & img{
                height: clamp(250px, 40vw, 500px);
                width: clamp(250px, 40vw, 500px);
            }
        }

        & .text__container{
            width: 40%;
            height: 80%;
            @include flex-space-evenly;
            flex-direction: column;

            & h1{
                font-size: clamp(2rem, 2.5vw, 4.5rem);
                @include bold;
                text-align: center;
                @include transparent-text-color;
    
            }
            & p{
                font-size: clamp(0.8rem, 1.5vw, 1.2rem);
                text-align: center;
                
            }

        }


       
    }
}

