@import 'config';
@import 'header';
@import 'responzive-header';
@import 'main';
@import 'responzive-main';
@import 'newsletter';


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /*font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 16px;  isto je kao ovo ispod*/
    font: 1rem/1.5 Arial, Helvetica, sans-serif;
    color: $text-color;
}
body{
    background: $primary-background-color;
}