.header {
  width: 100vw;
  height: 20vh;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.header__container h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(1.3rem, 2.5vw, 3rem);
  cursor: pointer;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#cf4561),
    to(#fffbd5)
  );
  background: linear-gradient(to right, #cf4561, #fffbd5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .header__container h1 {
    font-weight: 200;
  }
}

@media screen and (min-width: 769px) {
  .header__container h1 {
    font-weight: 600;
  }
}

.header__container h1::after {
  content: "";
  width: 0%;
  margin: auto;
  display: block;
  background: #dfdfdf;
  height: 1px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__container h1:hover::after {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__container nav {
  width: clamp(280px, 30%, 400px);
  height: 100%;
}

.header__container nav .navigation__menu {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.header__container nav .navigation__menu li {
  list-style: none;
}

.header__container nav .navigation__menu li a {
  text-decoration: none;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#cf4561),
    to(#fffbd5)
  );
  background: linear-gradient(to right, #cf4561, #fffbd5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .header__container nav .navigation__menu li a {
    font-weight: 200;
  }
}

@media screen and (min-width: 769px) {
  .header__container nav .navigation__menu li a {
    font-weight: 600;
  }
}

.header__container nav .navigation__menu li a::after {
  content: "";
  width: 0%;
  margin: auto;
  display: block;
  background: #dfdfdf;
  height: 1px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__container nav .navigation__menu li a:hover::after {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__container .menu-burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__container {
    position: relative;
  }
  .header__container nav {
    position: absolute;
    width: 80vw;
    height: 40vh;
    top: -100%;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(235, 232, 232, 0.74);
    box-shadow: 0px 10px 5px 0px rgba(235, 232, 232, 0.74);
  }
  .header__container nav.show {
    opacity: 1;
    z-index: 11;
    top: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header__container nav .navigation__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__container .menu-burger {
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 20;
    margin-left: 10px;
  }
  .header__container .menu-burger .menu-list {
    height: 3px;
    width: 28px;
    margin: 5px 1px;
    background-color: #dfdfdf;
  }
}

.main {
  width: 100vw;
  height: 90vh;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.main__container .logo__container {
  width: 40%;
  height: 70%;
  -webkit-box-flex: 0.7;
  -ms-flex-positive: 0.7;
  flex-grow: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__container .logo__container img {
  height: clamp(250px, 40vw, 500px);
  width: clamp(250px, 40vw, 500px);
}

.main__container .text__container {
  width: 40%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__container .text__container h1 {
  font-size: clamp(2rem, 2.5vw, 4.5rem);
  text-align: center;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#cf4561),
    to(#fffbd5)
  );
  background: linear-gradient(to right, #cf4561, #fffbd5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .main__container .text__container h1 {
    font-weight: 200;
  }
}

@media screen and (min-width: 769px) {
  .main__container .text__container h1 {
    font-weight: 600;
  }
}

.main__container .text__container p {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 5vh;
  }
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main__container .logo__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: baseline;
    -ms-flex-pack: baseline;
    justify-content: baseline;
  }
  .main__container .text__container {
    width: 90%;
  }
}

.newsletter {
  width: 100%;
  height: 20vh;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(4, 2, 26, 0.253);
}

.newsletter__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.newsletter__container h1 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

@media screen and (max-width: 768px) {
  .newsletter__container h1 {
    font-weight: 200;
  }
}

@media screen and (min-width: 769px) {
  .newsletter__container h1 {
    font-weight: 600;
  }
}

.newsletter__container .form_for_news input,
.newsletter__container .form_for_news button {
  height: 40px;
  border-radius: 5px;
}

.newsletter__container .form_for_news input {
  width: 200px;
  color: #000;
}

.newsletter__container .form_for_news button {
  width: 100px;
  background: #0e0c0c;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .newsletter {
    padding: 0 0.5rem;
  }
  .newsletter .newsletter__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.boxes {
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
}

.boxes__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.boxes__container .box {
  height: 80%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.boxes__container .box img {
  height: clamp(200px, 25vw, 400px);
  width: clamp(200px, 25vw, 400px);
  border-radius: 5px;
}

.boxes__container .box h3 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .boxes__container .box h3 {
    font-weight: 200;
  }
}

@media screen and (min-width: 769px) {
  .boxes__container .box h3 {
    font-weight: 600;
  }
}

.boxes__container .box p {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

@media screen and (max-width: 768px) {
  .boxes {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem 0;
  }
  .boxes__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .boxes__container .box {
    height: 30%;
    width: 100%;
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}

.about_us {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about_us__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.about_us__container .smaller_box {
  height: 80%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.about_us__container .smaller_box h2 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b5876),
    to(#4e4376)
  );
  background: linear-gradient(to right, #2b5876, #4e4376);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .about_us__container .smaller_box h2 {
    font-weight: 200;
  }
}

@media screen and (min-width: 769px) {
  .about_us__container .smaller_box h2 {
    font-weight: 600;
  }
}

.about_us__container .smaller_box p {
  font-size: clamp(0.7rem, 1.5vw, 1rem);
}

.about_us__container .smaller_box:hover {
  background: rgba(4, 2, 26, 0.253);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .about_us {
    width: 100vw;
  }
  .about_us__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about_us__container .smaller_box {
    width: 90%;
    height: 40%;
  }
}

.services {
  width: 90vw;
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(34, 3, 53, 0.644);
  margin: 2rem auto;
  padding: 1.5rem;
}

.services__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__container .list_of_services {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 55%;
}

.services__container .list_of_services h1 {
  font-size: clamp(2rem, 2.5vw, 4.5rem);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b5876),
    to(#4e4376)
  );
  background: linear-gradient(to right, #2b5876, #4e4376);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .services__container .list_of_services h1 {
    font-weight: 200;
  }
}

@media screen and (min-width: 769px) {
  .services__container .list_of_services h1 {
    font-weight: 600;
  }
}

.services__container .list_of_services .service {
  height: 30vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 7px;
  border: black 1px solid;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.services__container .list_of_services .service:hover {
  -webkit-box-shadow: 0 0 20px rgba(4, 4, 58, 0.88);
  box-shadow: 0 0 20px rgba(4, 4, 58, 0.88);
  background: rgba(60, 60, 131, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.services__container .list_of_services .service p {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

.services__container .list_of_services .service h2 {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b5876),
    to(#4e4376)
  );
  background: linear-gradient(to right, #2b5876, #4e4376);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .services__container .list_of_services .service h2 {
    font-weight: 200;
  }
}

@media screen and (min-width: 769px) {
  .services__container .list_of_services .service h2 {
    font-weight: 600;
  }
}

.services__container .form_to_fill {
  height: 70vh;
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.services__container .form_to_fill:hover {
  -webkit-box-shadow: 0 0 20px #0e0c0c;
  box-shadow: 0 0 20px #0e0c0c;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.services__container .form_to_fill .form__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.services__container .form_to_fill .form__container h2 {
  font-size: clamp(1rem, 1.5vw, 1.7rem);
}

@media screen and (max-width: 768px) {
  .services__container .form_to_fill .form__container h2 {
    font-weight: 200;
  }
}

@media screen and (min-width: 769px) {
  .services__container .form_to_fill .form__container h2 {
    font-weight: 600;
  }
}

.services__container .form_to_fill .form__container h3 {
  font-size: clamp(0.9rem, 1.5vw, 1.4rem);
}

@media screen and (max-width: 768px) {
  .services__container .form_to_fill .form__container h3 {
    font-weight: 200;
  }
}

@media screen and (min-width: 769px) {
  .services__container .form_to_fill .form__container h3 {
    font-weight: 600;
  }
}

.services__container .form_to_fill .form__container input {
  width: 80%;
  height: 50px;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #dfdfdf;
}

.services__container .form_to_fill .form__container textarea {
  width: 80%;
  height: 100px;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #dfdfdf;
}

.services__container .form_to_fill .form__container button {
  width: clamp(70px, 20vw, 130px);
  height: 50px;
  background: #0e0c0c;
  border: none;
  border-radius: 5px;
  font-size: clamp(0.8rem, 2.5vw, 1.3rem);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .services {
    height: 150vh;
  }
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .services__container .list_of_services {
    height: 80%;
    width: 100%;
  }
  .services__container .list_of_services .service {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .services__container .form_to_fill {
    width: 100%;
    border: 1px solid black;
  }
  .services__container .form_to_fill .form__container input {
    height: 35px;
  }
  .services__container .form_to_fill .form__container textarea {
    height: 80px;
  }
  .services__container .form_to_fill .form__container button {
    height: 40px;
  }
}

.footer {
  width: 100vw;
  height: 10vh;
  margin: 0 auto;
}

.footer__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__container p {
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  width: 70%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 16px;  isto je kao ovo ispod*/
  font: 1rem/1.5 Arial, Helvetica, sans-serif;
  color: #dfdfdf;
}

body {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#2a053be8),
    color-stop(#0b0f30),
    to(#330036)
  );
  background: linear-gradient(to top, #2a053be8, #0b0f30, #330036);
}
