.main {
  width: 100vw;
  height: 100vh;
  @include universal-flex-display(center, center);

  &__container {
    height: 100%;
    width: 100%;
    @include universal-flex-display(space-evenly, center);
    padding: 0 1rem;

    & .logo__container {
      @include universal-flex-display(center, center);

      & img {
        height: clamp(250px, 40vw, 500px);
        width: clamp(250px, 40vw, 500px);
      }
    }

    & .text__container {
      width: 40%;
      height: 100%;
      @include universal-flex-display(center, center);
      flex-direction: column;

      & h1 {
        font-size: clamp(2rem, 2.5vw, 4.5rem);
        text-align: center;
        margin-bottom: 3rem;
        @include bold;
        @include transparent-text-color-1;
      }
      & p {
        font-size: clamp(0.9rem, 1.5vw, 1.2rem);
        text-align: center;
      }
    }
  }
}
@include media-500 {
  .main {
    height: fit-content;

    &__container {
      flex-direction: column;

      & .logo__container {
        margin-bottom: 3rem;
      }

      & .text__container {
        width: 100%;
        margin-bottom: 3rem;
      }
    }
  }
}
