@include media-768{
    .services {
        height: 150vh;
    
        &__container {
            flex-direction: column;
    
            & .list_of_services {
                height: 80%;
                width: 100%;
    
                & .service {
                    height: fit-content;
                    width: 100%;
                }
            }
            & .form_to_fill {
                width: 100%;
                border: 1px solid black;
                
                & .form__container{
        
                    & input {
                        height: 35px;
                    }
        
                    & textarea {
                        height: 80px;
                       
                    }
                    & button{
                        height: 40px;
                    }
                }
            }
        }
    }
    
    

}

