.services {
    width: 90vw;
    height: 130vh;
    @include flex-center;
    background-color: $ternary-background-color;
    margin: 2rem auto;
    padding: 1.5rem;

    &__container {
        width: 100%;
        height: 100%;
        @include flex-space-between;

        & .list_of_services {
            height: 100%;
            @include flex-space-evenly;
            flex-direction: column;
            width: 55%;

            & h1 {
                font-size: clamp(2rem, 2.5vw, 4.5rem);
                @include transparent-text-color-2;
                @include bold;
            }

            & .service {
                height: 30vh;
                width: 90%;
                @include flex-space-evenly;
                flex-direction: column;
                border-radius: 7px;
                border: black 1px solid;
                padding: 1rem;
                cursor: pointer;
                @include transition-ease;

                &:hover {
                    box-shadow: 0 0 20px rgba(4, 4, 58, 0.88);
                    background: rgba(60, 60, 131, 0.2);
                    @include transition-ease;

                }

                & p{
                    font-size: clamp(0.8rem, 1.5vw, 1.2rem);

                }
                & h2 {
                    font-size: clamp(1.2rem, 2.5vw, 2rem);
                    @include transparent-text-color-2;
                    @include bold;
                }
            }
        }
        & .form_to_fill {
            height: 70vh;
            width: 35vw;
            @include flex-center;
            background: none;
            border: none;
            border-radius: 10px;
            padding: 1rem;
            @include transition-ease;
            cursor: pointer;

            &:hover{
                box-shadow: 0 0 20px rgb(14, 12, 12);
                @include transition-ease;
            }

            & .form__container{
                height: 100%;
                width: 100%;
                @include flex-space-between;
                flex-direction: column;

                & h2 {
                    font-size: clamp(1rem, 1.5vw, 1.7rem);
                    @include bold;
                }
                & h3{
                    font-size: clamp(0.9rem, 1.5vw, 1.4rem);
                    @include bold;
                }
    
                & input {
                    width: 80%;
                    height: 50px;
                    outline: none;
                    background: none;
                    border: none;
                    border-bottom: 2px solid $text-color;
                }
    
                & textarea {
                    width: 80%;
                    height: 100px;
                    outline: none;
                    background: none;
                    border: none;
                    border-bottom: 1px solid $text-color;
                }
                & button{
                    width: clamp(70px, 20vw,130px);
                    height: 50px;
                    background: rgb(14, 12, 12);
                    border: none;
                    border-radius: 5px;
                    font-size: clamp(0.8rem, 2.5vw, 1.3rem);
                    cursor: pointer;
                }
            }
        }
    }
}





